
.tbcontents {
    display: flex;
    align-items: center;
}
.tbheadercontainer {
    font-size: 0
}
.tbheader {
    font-size: 2rem;
    box-shadow: 1px 1px 0.5px #888888;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    // Below listed hides horizontal, but maybe all, scrollbars on table
    overflow:hidden;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr {
    min-width:1400px;
    max-width: 1400px; 
    display: table-row;
    background-color: #A3C563;
}

#customers .comic_header {
    background-color: #29526D;
}

#customers .comic_data {
    background-color: #708FA3;
}

#customers tr:hover {background-color: #7A9E35;}
// #customers .comic_data tr:hover {background-color: #486E87;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2A7C46;
    color: white;
}

 .table-responsive{
     margin:auto;
    min-width:1400px;
    max-width: 1400px;
    border-collapse: separate;
    border-spacing: 0;
}

tr {

   min-width:1400px;
    max-width: 1400px; 
}
